.container
  h2
    Separate the top text from the bottom one through semi-colon.

  .row
    .span12
      .clearfix
        label(for="chat-msg") Chat message
        .input
          textarea#chat-msg(name="chat-msg") Don't know how to create memes; create a chat that does the job for me

  .row
    .span16

      #canvas(style="width: 400px;height: 400px")
        img(src="/images/baby.png")