!!! 5
html
  head
    title= title
    meta(name="author", content="Gabriel Falcão")
    meta(name="description", content="Awesomemes is a chat but instead of text, people talk to each other through memes")
    meta(name="keywords", content="awesome, meme, memes, generation, generate, dynamic image")
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/general.css', type='text/css')

    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/jquery-1.6.2.min.js")
    script(type="text/javascript", src="/javascripts/jquery.scrollTo-min.js")
    script(type="text/javascript", src="/javascripts/jquery.jflow.js")
    script(type="text/javascript", src="/javascripts/bootstrap-modal.js")
    script(type="text/javascript", src="/javascripts/bootstrap-dropdown.js")
    script(type="text/javascript", src="/javascripts/bootstrap-twipsy.js")
    script(type="text/javascript", src="/javascripts/bootstrap-popover.js")
    script(type="text/javascript", src="/javascripts/main.js")

  body
    - if (request.session.user)
      #fade-in
      #fade-out

    #topbar.topbar(data-dropdown="dropdown")
      .topbar-inner
        .fill
          .container
            h3
              a.brand(href="#")
                span.awesomem awesomem
                span.es es

            //-ul.nav
            //-  li.active: a(href="#") Fresh
            //-  li: a(href="#") Most repeated
            - if (request.session.user)
              ul.nav.secondary-nav
                li.menu(data-dropdown="dropdown")
                  a.menu.dropdown-toggle(href="#")= "Hello, " + request.session.user.name
                  ul.dropdown-menu
                    li: a(href="#") Your memes
                    li: a(href="#") Your likes
                    li.divider
                    li
                      a(href="/logout") logout
                        img(src="/images/facebook-icon.png", style="float: right")

            - else
              ul.nav.secondary-nav
                li
                  a(href="/auth/facebook") Login with
                    img(src="/images/facebook-icon.png", style="float: right")

            - if (request.session.user)
              .bottombar
                .fill
                  .container
                    .form
                      input#msg(name="msg", type="text", tabindex="1")
                      .bg-navigation.left
                        a.previous(href="#") &lt;
                      .bg-navigation.right
                        a.next(href="#") &gt;

                      #background-images
                        ul
                          - each image in background_images
                            li.bg-image
                              a(href="#" + image.url)
                                img(src=image.url, alt=image.name + " meme background image")

    != body
